<div class="padding" style="padding: 50px;">
    <div class="container">
        <div class="row">
          <div class="container" style="margin-top: 20px;">
            <div>
              <button (click)="onStartOrStop()">{{buttonText}}</button>
              <p>on {{website}}</p>
              <p [style.color]="changedBool ? 'red' : 'pink'">{{changed}}</p>
            </div>
            <div class="border border-success" style="margin-bottom: 20px;">
              <p style="color: pink; text-align:center">Old Website</p>
              <p style="margin: 1em; text-align:center">{{normal}}</p>
            </div>
            <div class="border border-danger">
              <p style="color: red; text-align:center">Changes</p>
              <p style="margin: 1em; text-align:center">{{changes}}</p>
            </div>
          </div>
        </div>

    </div>
</div>
