<div class="padding" style="padding: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-sm-3 text-center">
                <h1>Konfiguration</h1>
                <p>For analyse the side please write the homepage link and what do you want analyse.</p>
                <form class="container center_div" style="text-align: center; margin-top: 20px;">
                    <div class="form-group" >
                      <label for="">Website:</label>
                      <input type="text" [(ngModel)]="website" name="webInput" id="" class="form-control" placeholder="" aria-describedby="helpId">
                      <label for="" style="margin-top: 10px;">Element: </label>
                      <input type="text" [(ngModel)]="element" name="elementInput" id="" class="form-control" placeholder="" aria-describedby="helpId">
                    </div>
                  </form>
        </div>
    </div>
</div>
</div>