<div class="padding" style="padding: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-sm-3 text-center">
                <h1>Konfiguration</h1>
                <p>For analyse the side please write the homepage link and what do you want analyse.</p>
                <form>
                    <div class="form-row">

                        <input type="url" class="form-control" id="inputLink" placeholder="Homepage">
                    </div>
                    <div class="form-row">
    
                        <input type="text" class="form-control" id="inputText" placeholder="h3.title">
                    </div>


                    <button type="submit" class="btn btn-primary" onclick="pupFunction()">Submit</button>
            
            </form>
        </div>
    </div>
</div>
</div>